* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #BFAFAF;
}

p, h1, h2, h3, h4 {
  color: #220606;
}

.explanation {
  padding: 1vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  text-align: center;
  width: 70%;
  background-color: rgba(232, 222, 222, 0.5);
  border-radius: 15px;
}

.overview-container {
  position: relative;
  height: 30vh;
  width: 70vw;
}

@media (min-width: 800px) and (max-width: 1150px) {
  .overview-container{
    height: 40vh;
    width: 80vw;
  }
}

@media /* (min-width: 800px) and  */(max-width: 799px) {
  .overview-container{
    height: 50vh;
    width: 90vw;
  }
  .explanation {
    width: 90%;
  }
}


.trait-container {
  position: relative;
  height: 30vh;
  width: 45vw;
}

@media (min-width: 800px) and (max-width: 1000px) {
  .trait-container{
    width: 40vw;
  }
}

@media /* (min-width: 800px) and  */(max-width: 799px) {
  .trait-container{
    width: 100vw;
  }
}

.trait-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.description {
  width: 45vw;
  text-align: center;
  margin-top: 1vh;
  margin-bottom: 2vh;
  padding: 2vh;
  background-color: rgba(232, 222, 222, 0.5);
  border-radius: 15px;
}

.description h4 {
  margin-bottom: 1vh;
  padding-bottom: 1vh;
  text-align: center;
  border-bottom: #9A8686 solid 2px;
}

@media /* (min-width: 800px) and  */(max-width: 799px) {
  .description{
    width: 100vw;
    margin: auto;
    border-radius: 0px;
  }
}