* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #BFAFAF;
}

.intro {
  width: 60%;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

p, h1, h2, h3, h4 {
  color: #220606;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

button {
  font-size: 20px;
  color: #9A8686;
  background-color: #220606;
  border: 0;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-top: 2vh;
  cursor: pointer;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
}

.qgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  height: 10vh;
  margin: auto;
  border-radius: 10px;
}

.qgroup:nth-child(odd) {
  background-color: #9A8686;
}

.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding-bottom: 5px;
  border-bottom: 2px solid #9A8686;
  text-align: center;
}

.qgroup:nth-child(odd) .question {
  border-bottom: 2px solid #BFAFAF;
}

.responses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10vw;
  height: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 5px;
}

@media (min-width: 800px) and (max-width: 1500px) {
  .option {
    font-size: 14px;
  }
}

@media (min-width: 600px) and (max-width: 799px) {
  .option {
    font-size: 12px;
  }
}

@media (min-width: 350px) and (max-width: 599px) {
  .option {
    font-size: 10px;
  }
}

@media (max-width: 349px) {
  .option {
    font-size: 8px;
  }
}

@media (min-width: 700px) and (max-width: 950px) {
  .qgroup {
    width: 90%;
  }
  .option {
    width: 12vw;
  }
}

@media (max-width: 699px) {
  .qgroup {
    width: 100%;
    border-radius: 0px;
  }
  .responses {
    width: 100%;
  }
  .option {
    width: 18vw;
  }
}

.response > input { /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

.qgroup:nth-child(odd) .response > input + p { /* IMAGE STYLES */
  cursor:pointer;
  background-color: #BFAFAF;
}

.response > input + p { /* IMAGE STYLES */
  cursor: pointer;
  background-color: #9A8686;
}

.response > input:checked + p { /* (RADIO CHECKED) IMAGE STYLES */
  background-color: #E8DEDE;
}

.qgroup:nth-child(odd) .response > input:checked + p { /* (RADIO CHECKED) IMAGE STYLES */
  background-color: #E8DEDE;
}